.notes-toolbar {
  height: 23px;
  width: 99%;
  padding-left: 1%;
  padding-top: 12px;
  border-radius: 6px 6px 0px 0px;
  border-bottom: 1px solid darkgrey;
  background: linear-gradient(#E6E4E6, #D7D5D7);
  display: flex;
}

.note-button {
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  margin-left: 10px;
  margin-top: -5px;
  margin-bottom: 7px;
}