.notes-sidebar-item {
  height: 50px;
  padding-top: 6px;
  border-bottom: 1px solid rgb(214, 214, 214);
  cursor: default;
}

.notes-sidebar-item h1 {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 5px;
  padding: 0;
  font-size: 15px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap; 
  overflow: hidden;
}

.notes-sidebar-item p {
  margin-left: 20px;
  margin-top: 0;
  font-size: 15px;
  font-weight: 100;
  text-overflow: ellipsis;
  white-space: nowrap; 
  overflow: hidden;
}